@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: Poppins;
}
#errorPassword,
#errorName,
#errorPhone,
#errorNameLast,
#errorEmail,
#errorAddress {
  display: none;
}
#errorPassword,
#errorPhone,
#errorName,
#errorNameLast,
#errorEmail,
#errorAddress {
  color: red;
  /* display: block; */
  padding-left: 40px;
  padding-top: 20px;
}
